@charset "utf-8";

@font-face{
	font-family: montserrat;
	src: url(./src/assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
	font-family: roboto;
	src: url(./src/assets/fonts/Montserrat-SemiBold.ttf);
}

@keyframes truckanimation {
	from{
		opacity: 0;
		transform: translateX(-30%) scale(0.9);
	}
	to{
		opacity: 1;
		transform: translateX(0%) scale(1);
	}
}

@keyframes transactAnimation{
  from{
    width: 55vw;
    height: 100vh;
  }
  to{
    width: 100vw;
    height: 100vh;
  }
}

@keyframes transactAnimationFadeOut{
  from{
    opacity: 1;
    transform: translateX(0%);
  }to{
    transform: translateX(-30%);
    opacity: 0;
  }
}

@keyframes transactShowOff{
  from{
    width: 45%;
  }
  to{
    width: 0%;
  }
}

@keyframes titleAnimation{
	from {
		opacity: 0;
		transform: translateX(30%) scale(0.9);
	}
	to{
		opacity: 1;
		transform: translateX(0%) scale(1);
	}
}

@keyframes cardAnimationUp{
  from{
    opacity: 0;
    transform: translateY(20%) scale(0.9);
  }
  to{
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

@keyframes menuAnimationDown{
  from{
    opacity: 0;
    transform: translateY(-20%) scale(0.9);
  }
  to{
    opacity: 1;
    transform: translate(0%) scale(1);
  }
}

@keyframes TopSlideAnimation {
  from{
  }
  to {
    width: 100%;
    height: auto;
  }
}

*{
	margin: 0px;
	padding: 0px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	align-items: center;
	background-color: #00000000;
  font-family: montserrat;
  top: 0;
  height: 75px;
}

header > figure {
	padding-left: 15px;
}

header > nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

header > nav > a {
	text-decoration: none;
	color: #000;
	font-size: 18pt;
	margin: 15px;
	transition: 0.5s;
	display: flex;
	flex-direction: row;
}

.icon{
	width: 80px;
	height: 30px;
}

header > nav > span {
	background-color: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	width: 160px;
	margin-left: 40px;
	cursor: pointer;
	height: 75px;
	font-size: 12pt;
	font-weight: bold;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav > span:hover{
	transition: 0.5s;
	background-color: #252525;
}

header > nav > span > a{
  text-decoration:none;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

header > button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header > button > img {
  width: 60px;
  height: 60px;
  margin: 5px;
}

#menu-list{
  display: none;
  flex-direction: column;
  background-color: #000;
  width: 50%;
  position: fixed;
  border-radius: 5px;
  right: 0;
  top: 75px;
  animation-name: menuAnimationDown;
  animation-duration: 1s;
  overflow: hidden;
}

#menu-list > *{
  animation-fill-mode: backwards;
}

#menu-list > *:nth-child(1){
  animation-name: truckanimation;
  animation-duration: 1250ms;
}

#menu-list > *:nth-child(2){
  animation-name: truckanimation;
  animation-duration: 1250ms;
  animation-delay: 150ms;
}

#menu-list > *:nth-child(3){
  animation-name: truckanimation;
  animation-duration: 1250ms;
  animation-delay: 250ms;
}

#menu-list > li {
  list-style-type: none;
  color: #fff;
  text-decoration: none;
  margin-bottom:15px;
}

#menu-list > li:nth-child(1){
  margin-top: 15px;
}

#menu-list > li > a {
  color: #fff;
  text-decoration:none;
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
}

#menu-list > li > a > img {
  width:30px;
  margin-left: 20px;
}

#menu-list > li > button {
  background-color: #fff;
  border: none;
  padding: 15px;
  margin-left: 20px;
  font-size: 16pt;
  cursor: pointer;
}

#menu-list > li > button > a {
  text-decoration: none;
  color: #000;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

main > figure{
	width: 45%;
	animation-name: truckanimation;
	animation-duration: 1s;
}

main > figure > img {
	width: 100%;
}

main > section {
	background-color: #D68420;
	width: 55%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

main > section > * {
	animation-name: titleAnimation;
	animation-duration: 1s;
}

main > section > h1 {
	font-size: 56pt;
	color: #000;
	left: -10px;
	font-family: roboto;
	margin-top: 30px;
}

main > section > p {
	margin-right: 30%;
	margin-left: 13%;
	font-size: 18pt;
	text-align: justify;
	border-left: solid 5px #000;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > section > button{
	padding: 15px;
	font-size: 18pt;
	background-color: transparent;
	border: solid 2px #000;
	border-radius: 5px;
	margin-top: 50px;
	cursor: pointer;
	transition: 0.5s;
}

main > section > button:hover{
	transition: 0.5s;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

main > section > button > .arrow{
	width: 80px;
	height: 20px;
}

.icon-color{
	color: #000;
	width: 30px;
	margin: 15px;
	cursor: pointer;
}

.pushViewClass {
  animation-name: transactAnimation;
  animation-duration: 1s;
  width: 55%;
  background-color: #D68420;
  overflow: hidden;
}

.pushViewClass > *{
  animation-name: transactAnimationFadeOut;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

.showOffFigureClass {
  width: 40%;
  animation-name: transactShowOff;
  animation-duration: 1s;
  overflow: hidden;
}

.showOffFigureClass > * {
  animation-name: transactAnimationFadeOut;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

#view-contact{
	width: 100%;
	background-color: #D68420;
	height: 100vh;
	position: absolute;
	top: 0;
  display: none;
}

#view-contact > figure {
  height: 80px;
}

#view-contact > figure > img {
  height: 40px;
  width: 40px;
  margin: 15px;
  cursor: pointer;
}

#view-contact > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#view-contact > span > article {
  display: flex;
  width: 15%;
  border: solid 3px #000;
  border-radius: 15px;
  margin: 30px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  color: #252525;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation-name: cardAnimationUp;
  animation-duration: 1s;
}

#view-contact > span > article:nth-child(2){
  animation-name: cardAnimationUp;
  animation-duration: 1s;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

#view-contact > span > article:nth-child(3){
  animation-name: cardAnimationUp;
  animation-duration: 1s;
  animation-delay: 450ms;
  animation-fill-mode: backwards;
}

#view-contact > span > article > figure > img {
  width: 60px;
}

#view-contact > span > article > h1{
  color: #252525;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  font-size: medium;
}

#view-contact > span > article > button{
  background-color: #000;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
  cursor: pointer;
  width: 200px;
  border-radius: 5px;
  font-size: 16pt;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 120px;
  transition: 500ms;
}

#view-contact > span > article > button:hover{
  background-color: #252525;
  transition: 500ms;
}

footer{
  background-color: #D68420;
  color: #252525;
  height: max-content;
  padding: 30px;
  font-family: roboto;
  font-size: 16pt;
  flex-direction: row;
  text-align: center;
}

footer > small > a {
  color: #252525;
  text-decoration: none;
}

@media screen and (max-width: 1245px){
  header > nav {
    display: none;
  }

  header > button{
    display: flex;
  }
}

@media screen and (max-width: 1100px){
  main > figure {
    width: 55%;
  }

  main > section > h1 {
    font-size: 42pt;
  }

  #view-contact {
    height: auto;
  }

  #view-contact > span {
    flex-direction: column;
  }

  #view-contact > span > article {
    width: 50%;
  }
}

@media screen and (max-width: 767px){
  #menu-list{
    width: 100%;
  }

  header{
    background-color: #D68420;
  }

  main{
    margin-top: 120px;
    flex-direction: column;
    height: auto;
  }

  main > figure {
    width: 100%;
  }

  main > section {
    width: 100%;
    height: auto;
  }

  main > section > h1 {
    font-size: 32pt;
    font-weight: bold;
  }

  main > section > p {
    font-size: 20pt;
    border: none;
  }

  .pushViewClass{
    animation-name:TopSlideAnimation;
  }
  #view-contact{
    height: auto;
  }

  footer{
    margin-top: 0px;
  }
}
