<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MG Caçambas - Sobre nós</title>
  <link rel="stylesheet" type="text/css" href="../style/about.css" />
  <link rel="stylesheet" type="text/css" href="../components/map/leaflet.css" />
</head>

<body>
  <header id="navbar">
    <figure>
      <h1>Logo</h1>
    </figure>

    <nav>
      <a href="./objective.html"><img class="icon" src="../assets/img/icons/manifesto.svg" alt="Icon button" />Nosso
        objetivo</a>
      <a href="/"><img class="icon" src="../assets/img/icons/home.svg" alt="Icon peoples" /> Principal</a>
      <button type='button'><a href="./contact.html">Contate-nos</a></button>
    </nav>
    <button id="hamburgerMenu" type='button'><img src="../assets/img/icons/menu.png" alt="menu hamburger" /></button>
  </header>
  <ul id="menu-list">
    <li>
      <a href="./objective.html"><img src="../assets/img/icons/manifesto-white.png" alt="Icon button" />Nosso
        objetivo</a>
    </li>
    <li>
      <a href="/"><img src="../assets/img/icons/home-white.png" alt="Icon peoples" />
        Principal</a>
    </li>
    <li>
      <button type='button'><a href="./contact.html">Contate-nos</a></button>
    </li>
  </ul>
  <main>
    <h1>
      Somos uma empresa localizada na vila leste de São Paulo, Curuça.
      Porem trabalhamos em toda grande São Paulo.
      <br />Entre em contato conosco para saber trabalhamos em sua
      localização.<br />
    </h1>
    <img src="../assets/img/thinkinnatureii.svg" />
  </main>

  <footer id="footer">
    <small><a href="https://github.com/GustavoSMelo">Website developed by S. Melo, Gustavo <img class="icon"
          src="../assets/img/icons/github.svg" /></a></small>
  </footer>

  <script type="text/javascript" src="../js/menu.js"></script>
  <script type="text/javascript" src="../components/map/leaflet.js"></script>
</body>

</html>
