<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MG caçambas - contato</title>
  <link rel="stylesheet" type="text/css" href="../style/contact.css" />
</head>

<body>
  <header id="navbar">
    <figure>
      <h1>Logo</h1>
    </figure>

    <nav>
      <a href="./objective.html"><img class="icon" src="../assets/img/icons/manifesto.svg" alt="Icon button" />Nosso
        objetivo</a>
      <a href="/"><img class="icon" src="../assets/img/icons/weareus.svg" alt="Icon peoples" /> Sobre nos</a>
    </nav>
    <button id="hamburgerMenu" type='button'><img src="../assets/img/icons/menu.png" alt="menu hamburger" /></button>
  </header>
  <ul id="menu-list">
    <li>
      <a href="./objective.html"><img src="../assets/img/icons/manifesto-white.png" alt="Icon button" />Nosso
        objetivo</a>
    </li>
    <li>
      <a href="/"><img src="../assets/img/icons/weareus-white.png" alt="Icon peoples" />
        Sobre nos</a>
    </li>
  </ul>

  <main>
    <h1>Escolha o meio de comunicação de sua preferência</h1>
    <span class="ContainerCards">
      <section class="Card">
        <img src="../assets/img/icons/facebook-brown-ii.png" />
        <h2>Facebook <br /> MG Caçambas</h2>

        <button>Acessar</button>
      </section>

      <section class="Card">
        <img src="../assets/img/icons/email-brown.png" />
        <h2>Email<br />MGCacambas@hotmail.com</h2>

        <button>Acessar</button>
      </section>

      <section class="Card">
        <img src="../assets/img/icons/instagram-brown.png" />
        <h2>Instagram <br /> MG Caçambas</h2>

        <button>Acessar</button>
      </section>

      <section class="Card">
        <img src="../assets/img/icons/whatsapp-brown.png" />
        <h2>Whatsapp <br /> 11 99999-9999</h2>

        <button>Acessar</button>
      </section>
    </span>
  </main>

  <script type="text/javascript" src="../js/menu.js"></script>
</body>

</html>
