<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../style/objective.css" />
</head>

<body>
  <header id="navbar">
    <figure>
      <h1>Logo</h1>
    </figure>

    <nav>
      <a href="/"><img class="icon" src="../assets/img/icons/manifesto.svg" alt="Icon button" />Nosso objetivo</a>
      <a href="/"><img class="icon" src="../assets/img/icons/weareus.svg" alt="Icon peoples" /> Sobre nos</a>
      <button type='button'>Contate-nos</button>
    </nav>
    <button id="hamburgerMenu" type='button'><img src="../assets/img/icons/menu.png" alt="menu hamburger" /></button>
  </header>
  <ul id="menu-list">
    <li>
      <a href="./src/views/objective.html"><img src="../assets/img/icons/manifesto-white.png" alt="Icon button" />Nosso
        objetivo</a>
    </li>
    <li>
      <a href="./src/views/about-us.html"><img src="../assets/img/icons/weareus-white.png" alt="Icon peoples" />
        Sobre nos</a>
    </li>
    <li>
      <button type='button'>Contate-nos</button>
    </li>
  </ul>

  <main>
    <h1>Nosso objetivo é fazer o melhor trabalho possivel e estabelecer confiança com você </h1>
    <small>Alem disso tambem... </small>
    <section class="RowContainer">
      <figure>
        <img src="../assets/img/thinkinnature.svg" alt="think in nature" />
      </figure>
      <article>
        <h1>Pensamos na natureza </h1>
        <p>
          Todo o entulho coletado por nós, vai direto para um ecoponto.<br />
          Sabemos que a natureza é importante para todos nós, então cuida-la é nosso serviço
        </p>
      </article>
    </section>

    <section class="RowContainerReverse">
      <figure>
        <img src="../assets/img/economic.svg" alt="save money" />
      </figure>
      <article>
        <h1>Nossos preços são bem acessíveis </h1>
        <p>
          Por conta dessa crise que vivemos, temos noção de como as coisas estão dificies, por isso nossos preços são
          bem acessiveis, pensamos no consumidor :)<br />
          Entre em contato que iremos fazer um preço especial para você
        </p>
      </article>
    </section>

    <section class="RowContainer">
      <figure>
        <img src="../assets/img/time.svg" alt="think in nature" />
      </figure>
      <article>
        <h1>Está sem tempo? Trabalhamos de forma rapida e eficiente </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quisquam, aliquid vel animi a harum doloremque
          quam laudantium veritatis nisi nemo sed amet exercitationem in totam beatae, possimus accusamus nobis!</p>
      </article>
    </section>
    <button type="button">Contate-nos</button>
  </main>
  <footer>
    <h3></h3>
    <small><a href="https://github.com/GustavoSMelo">Website developed by S. Melo, Gustavo <img class="icon"
          src="../assets/img/icons/github.svg" /></a></small>
  </footer>

  <script type="text/javascript" src="../js/menu.js"></script>
</body>

</html>
